# Snorby Database Configuration
#
# # Please set your database password/user below
# # NOTE: Indentation is important.
#
snorby: &snorby
  adapter: mysql
  username: {{ mysql_snorby_user }}
  password: {{ mysql_snorby_password }} # Example: password: "s3cr3tsauce"
  host: localhost

development:
  database: snorby
  <<: *snorby

test:
  database: snorby
  <<: *snorby

production:
  database: snorby
  <<: *snorby
